<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Opzioni</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item lines="full">
            <ion-icon slot="start" name="color-palette-outline"></ion-icon>
            <ion-label>
                Seleziona Tema
            </ion-label>
            <ion-select id="themeSelector"
                        [value]="loadedSettings?.theme"
                        (ionChange)="changeProp($event)">
                <ion-select-option *ngFor="let theme of themeLabels" [value]="theme.key">
                    {{theme.value}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item lines="full">
            <ion-icon slot="start" name="timer"></ion-icon>
            <ion-label>
                Durata Round
            </ion-label>
            <ion-input id="countdownSeconds"
                       slot="end"
                       min="10"
                       max="99999"
                       type="number"
                       step="1"
                       debounce="500"
                       [value]="loadedSettings?.countdown"
                       (ionChange)="changeProp($event)"></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-icon slot="start" name="volume-high-outline"></ion-icon>
            <ion-label>
                Attiva Suoni
            </ion-label>
            <ion-toggle id="toggleSound"
                        color="primary"
                        [checked]="loadedSettings?.sound"
                        (ionChange)="changeProp($event)"
            ></ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-item>&copy; 2021 Giuseppe Senese -&nbsp;<a href="mailto:giu.senese@gmail.com">giu.senese@gmail.com</a>
    </ion-item>
</ion-footer>
