<ion-header>
    <ion-toolbar>
        <ion-title>{{!timerStarted ? 'Estrai o scegli una lettera' : null}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="!timerStarted; else timerDiv" class="letters">
        <div *ngIf="currentLetter; else availableChars" class="icon-letter-single">
            <span class="icon-letter-char-animated">{{ currentLetter }}</span>
        </div>
        <ng-template #availableChars>
            <div>
                <div *ngFor="let char of letters; let i = index" class="icon-letter" (click)="extractLetter(i)">
                    <span class="icon-letter-char">{{ char }}</span>
                </div>
            </div>
        </ng-template>
    </div>
    <ng-template #timerDiv>
        <div class="icon-letter-timer">
            <span #timerNumber class="icon-letter-char-timer">3</span>
        </div>
        <div #timerStarted class="timer"
             style="display: none">
            <countdown #cd [config]="countdownConfig"
                       [class.timer-less-minute]="lastMinute"
                       [class.timer-last-ten-seconds]="lastTenSeconds"
                       (event)="handleCountdownEvent($event)">
            </countdown>
            <div class="timer-icons">
                <ion-icon name="refresh-circle-outline" (click)="restartTimer()"></ion-icon>
                <ion-icon [name]="!timerPaused ? 'pause-circle-outline' : 'play-circle-outline'"
                          (click)="toggleTimer()"></ion-icon>
                <ion-icon name="stop-circle-outline" (click)="stopTimer()"></ion-icon>
            </div>

        </div>
        <div>

        </div>
    </ng-template>
</ion-content>

<ion-footer *ngIf="!timerStarted" class="ion-no-border">
    <ion-button *ngIf="currentLetter" color="secondary" expand="full" (click)="resetLetter()">
        Scegli Manualmente
    </ion-button>
    <ion-button color="primary" expand="full" (click)="extractLetter()">Estrai Lettera</ion-button>
</ion-footer>
