@mixin iconAnimation($seconds, $start: 0s, $animation: zoomIn) {
    animation: $seconds ease-out $start 1 $animation;
    animation-fill-mode: forwards;
}

%icon-letter-base {
    opacity: 0;
    background-color: var(--ion-color-primary);
    border-radius: 50%;
    color: white;
    width: auto;
    text-align: center;
    animation: 0.2s ease-out 0s 1 iconFadeIn;
    animation-fill-mode: forwards;
}

.icon-letter {
    @extend %icon-letter-base;
    display: inline-block;
    font-size: 6vh;
    width: 12vh;
    margin: 2%;
}

.icon-letter-single {
    @extend %icon-letter-base;
    font-size: 50vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 100%;
}

.icon-letter-char-animated {
    opacity: 0;
    @include iconAnimation(0.5s, 0.3s);
}

.icon-letter-timer {
    @extend .icon-letter-single;
    font-size: 20vh;
    background-color: unset;
    color: unset;
}

.icon-letter-char-timer {
    opacity: 0;
    @include iconAnimation(0.5s, 0s);
}

.icon-letter-char-timer-last {
    opacity: 0;
    @include iconAnimation(0.35s, 0s, zoomInWithFadeout)
}

.timer {
  @extend .icon-letter-timer;
  font-size: 15vh;

  .timer-smaller {
    font-size: 10vh;
  }

  .timer-icons {
    font-size: 10vh;
  }
}

.timer-less-minute {
    color: var(--ion-color-warning)
}

.timer-last-ten-seconds {
    color: var(--ion-color-danger)
}

@keyframes iconFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        font-size: 50%;
    }
    to {
        font-size: 100%;
        opacity: 1;
    }
}

@keyframes zoomInWithFadeout {
    0% {
        font-size: 50%;
    }
    70% {
        font-size: 100%;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
