<ion-header>
    <ion-toolbar>
        <ion-title>Classifica</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-player-list [players]="playerList"></app-player-list>
    <ion-button *ngIf="setupPointsMode" (click)="setupPoints()">Imposta Punteggi</ion-button>
    <ion-button (click)="nextRound()">Prossimo Round</ion-button>
    <ion-button *ngIf="!gameEnded" (click)="endGame()">Termina Partita</ion-button>
    <ion-button *ngIf="gameEnded" (click)="nextRound()">Nuova Partita</ion-button>
</ion-content>
