<ion-header>
    <ion-toolbar>
        <ion-title>
            {{"START GAME TITLE" | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-player-list [players]="playerList"></app-player-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-button color="primary" expand="full" (click)="createPlayer()">
        <ion-icon name="person-add-outline"></ion-icon>
        &nbsp;{{"CREATE PLAYER" | translate}}
    </ion-button>
    <ion-button color="success" expand="full" disabled="{{ !playerList.length }}" (click)="startGame()">
        <ion-icon name="play-circle-outline"></ion-icon>
        &nbsp;{{"START GAME" | translate}}
    </ion-button>
    <ion-button color="light" expand="full" (click)="openOptions()">
        <ion-icon name="settings-outline"></ion-icon>
        &nbsp;{{"OPTIONS" | translate}}
    </ion-button>
    <ion-button color="dark" expand="full" (click)="closeApp()">
        <ion-icon name="exit-outline"></ion-icon>
        &nbsp;{{"CLOSE APP" | translate}}
    </ion-button>
</ion-footer>
