.selected {
  background-color: var(--ion-color-light-shade);
}

// Fix per ripristinare la scroll bar nel ion-segment all'interno di una modale
.segment-scrollable {
  width: -moz-available;
  //noinspection CssInvalidPropertyValue
  width: -webkit-fill-available;
}
