<form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
            <ion-label position="stacked">{{'PLAYER_NAME' | translate}}
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="name" placeholder="Inserisci Nome Giocatore"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{'AVATAR' | translate}}</ion-label>
            <ion-grid id="avatar-container">
                <ion-row>
                    <ion-col *ngFor="let avatar of avatars">
                        <app-avatar class="avatar"
                                    [selected]="selectedAvatar === avatar.id"
                                    (click)="selectAvatar(avatar.id)"
                                    [avatar]="avatar"></app-avatar>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
    <div class="ion-padding">
        <ion-button expand="block"
                    type="submit"
                    [disabled]="!playerForm.valid">
            {{!editMode ? ('CREATE_PLAYER' | translate) : ('EDIT_PLAYER' | translate)}}
        </ion-button>
        <ion-button expand="block" color="danger" (click)="dismiss()">
            {{'CANCEL' | translate}}
        </ion-button>
    </div>
</form>
