<form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
            <ion-label position="stacked">Nome Giocatore
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="name" placeholder="Inserisci Nome Giocatore"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Avatar</ion-label>
            <ion-segment scrollable (ionChange)="selectAvatar($event.detail.value)">
                <ion-segment-button *ngFor="let avatar of avatars" value="{{ avatar.id }}">
                    <app-avatar [avatar]="avatar"></app-avatar>
                </ion-segment-button>
            </ion-segment>
        </ion-item>
    </ion-list>
    <div class="ion-padding">
        <ion-button expand="block"
                    type="submit"
                    [disabled]="!playerForm.valid">
            {{!editMode ? 'Crea Giocatore' : 'Modifica Giocatore'}}
        </ion-button>
        <ion-button expand="block" color="danger" (click)="dismiss()">
            Annulla
        </ion-button>
    </div>
</form>
